<div class="row">
  <div>
    <h1><u>Proyectos Realizados</u></h1><br>
  </div>
  <div class="contenedor">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>Proyecto "Canchr"</h2><br>
      <p>
       En el presente año 2022, me encuentro trabajando en equipo con un grupo de entusiastas y con gran experiencia en programación,
       en el desarrollo de una <b><i>Página web y App movil</i></b> destinado a facilitar el pedido de turnos en distintos 
       tipos de establecimientos para la realización de deportes varios. <br><a href="https://github.com/decriost/frontend-canchr"><b><i>Link</i></b></a> 
       hacia el repositorio del <b>Proyecto</b> en <i>GitHub</i>.
      </p><br>
    </div>
  </div>
  <div class="contenedor">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>Portfolio Web</h2><br>
      <p>
        En el presente año 2022, me encuentro realizando un <b><i>Portfolio web</i></b> como trabajo final del curso <b><i>"Argentina Programa"</i></b>, 
        en el cual me encuentro realizando la segunda etapa. <br><a href="https://github.com/RodriAibar/Proyecto-Final-ArgProg-RodrigoAibar"><b><i>Link</i></b></a> 
        hacia el repositorio del <b>Portfolio</b> en <i>GitHub</i>.
      </p><br>
    </div>
  </div>
</div>
