<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="ArgentinaPrograma" id="logoAP" />
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/rodrigo.aibar" target="_blank"><img src="../../../assets/facebook.png" alt="facebook" id="facebook"></a>
            <a href="https://github.com/RodriAibar" target="_blank"><img src="../../../assets/github.png" alt="github" id="github"></a>
            <a href="https://instagram.com/rodrigo_aibar" target="_blank"><img src="../../../assets/instagram.png" alt="instagram" id="instagram"></a>
            <a href="https://www.linkedin.com/in/rodrigo-aibar/" target="_blank"><img src="../../../assets/linkedin.png" alt="linkedin" id="linkedin"></a>
            <a href="https://twitter.com/rodrigo_aibar" target="_blank"><img src="../../../assets/twitter.png" alt="twitter" id="twitter"></a>
            <button type="button" class="btn btn-outline-light" target="_blank">INGRESAR</button>
        </div>
    </div>
</div>
