.row {
    background-color: lightskyblue;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoAP {
    width: 200px;
}
img {
    width: 50px;
    margin: 0.2rem;
}
button{
    margin: 0.2rem;
    border-width: 0.18rem;
    border-radius: 3.25rem;
    padding: 0.65rem 1.5rem;
}
/*---vista celular--*/
@media (max-width: 575px) {
    .container {
        flex-direction: column;
    }
    .redes {
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0.2rem;
    }
}