<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
      <img
      src="../../../assets/FotoPerfil1.png" class="img-fluid" id="fotodeperfil"/>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2" id="nombreYprof">
      <p><b>Rodrigo Aibar</b></p>
      <p>Full Stack Developer Jr</p>
      <p>General Alvear (Mza) Argentina</p>
      <p>+54651321651651</p>
      <p>Aibarrodrigo@gmail.com</p>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-9 col-xl-8 col-xxl-8">
        <h1>Acerca de mí</h1>
        <p>
          <b><i>"Valiente, emprendedor y curioso por naturaleza"</i></b>,<br> son las características
          que mejor me definen. <br> El <b><i>Trabajo en equipo</i></b> y la <b><i>Comunicación fluida</i></b>
          son el gran secreto del éxito.
        </p>
    </div>
</div>