<div class="row">
  <h1><u>Hard & Soft Skills</u></h1>
  <div class="text-center col-sm-6 col-md-6 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [showTitle]="false"
      [showUnits]="false"
      [showSubtitle]="false"
      [showInnerStroke]="true"
      [imageSrc]="'../assets/html.png'"
      [showImage]="true"
      [imageHeight]="150"
      [imageWidth]="150"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#fe8002'"
      [innerStrokeColor]="'#fe8002'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-6 col-md-6 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [showTitle]="false"
      [showUnits]="false"
      [showSubtitle]="false"
      [showInnerStroke]="true"
      [imageSrc]="'../assets/css.png'"
      [showImage]="true"
      [imageHeight]="130"
      [imageWidth]="130"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#189EFA'"
      [innerStrokeColor]="'#189EFA'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-6 col-md-6 col-lg-4">
    <circle-progress
      [percent]="65"
      [radius]="100"
      [showTitle]="false"
      [showUnits]="false"
      [showSubtitle]="false"
      [showInnerStroke]="true"
      [imageSrc]="'../assets/js.png'"
      [showImage]="true"
      [imageHeight]="130"
      [imageWidth]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#FDE200'"
      [innerStrokeColor]="'#FDE200'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-6 col-md-6 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="100"
      [showTitle]="false"
      [showUnits]="false"
      [showSubtitle]="false"
      [showInnerStroke]="true"
      [imageSrc]="'../assets/git.png'"
      [showImage]="true"
      [imageHeight]="130"
      [imageWidth]="130"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#000000'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-6 col-md-6 col-lg-4">
    <circle-progress
      [percent]="100"
      [radius]="100"
      [showTitle]="false"
      [showUnits]="false"
      [showSubtitle]="false"
      [showInnerStroke]="true"
      [imageSrc]="'../assets/team-work.png'"
      [showImage]="true"
      [imageHeight]="150"
      [imageWidth]="220"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#000000'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-6 col-md-6 col-lg-4">
    <circle-progress
      [percent]="100"
      [radius]="100"
      [showTitle]="false"
      [showUnits]="false"
      [showSubtitle]="false"
      [showInnerStroke]="true"
      [imageSrc]="'../assets/communication.webp'"
      [showImage]="true"
      [imageHeight]="120"
      [imageWidth]="120"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#000000'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
</div>
