<div class="row">
    <h1><u>Educación</u></h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
        <li>
          <h2>Título Secundario Completo</h2> - <h3>(2006)</h3>
        </li>
        <p>
          Certificado y analítico de estudio secundario en la modalidad de <b><i>"Economía y Gestión
          de las Organizaciones, con orientación en Gestión de Microemprendimientos, Pymes y Cooperativas"
          </i></b>. Cursado en <b>Escuela N° 4-144 <i>"12 de Agosto"</i></b>.
        </p><br>
      </ul>
      <ul>
          <li>
            <h2>Introducción a Redes (Curso)</h2> - <h3>(2016)</h3>
          </li>
          <p>
            Curso de Formación Profesional/Capacitación Laboral de <b>"Introducción a Redes"</b>. 
            Dictado por <b>INET </b> <i><b>"Instituto Nacional de Educación Tecnológica"</b></i>.
          </p><br>
        </ul>
        <ul>
          <li>
            <h2>Armado y Reparación de PC con Introducción a Redes (Curso)</h2> - <h3>(2018)</h3>
          </li>
          <p>
            Curso de <b>"Armado y Reparación de PC con Introducción a Redes"</b>. Dictado y avalado
            por la <b><i>"Secretaria de Desarrollo y Promoción Departamental de Ciencia y Tecnología"</i></b>
          </p><br>
        </ul>
        <ul>
          <li>
            <h2>Operador de PC (Curso)</h2> - <h3>(2020)</h3>
          </li>
          <p>
            Curso de <b>"Operador de PC"</b> dictado en <i>"Centro de Capacitación para el Trabajo" </i>  
            <b>N° 6308 - <i>"Misión de Cultura Rural"</i></b>. Avalado por la <b>DGE</b> 
            <b><i> "Direción General de Escuelas".</i></b>
          </p><br>
        </ul>
    </div>
  </div>
  
