<div class="row">
  <h1><u>Experiencia Laboral</u></h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h2>Armado y Reparación de PC</h2> - <h3>(2018 - Presente)</h3>
      </li>
      <p>
        Emprendimiento independiente de <b>Armado y Reparación de PC</b>.
      </p><br>
    </ul>
    <ul>
        <li>
          <h2>Proyecto de Programación</h2> - <h3>(2021 - Presente)</h3>
        </li>
        <p>
          <b>Proyecto de Programación</b> en equipo para la creación de <i>Página web y App movil</i>
          destinado a facilitar el pedido de turnos en distintos tipos de establecimientos
          para la realización de deportes varios.
        </p><br>
      </ul>
  </div>
</div>
